---
    layout: 'post.liquid'
    title: Transformers in NLP
    desc: Introduction to Transformers
    date: Created
    tags: [post, neuralnetworks, transformers]
---

<article>
  <h2>Introduction</h2>
</article>